.wrapper{
    position: relative;
    grid-template-columns: 1fr;
    margin: 50px auto 50px auto ;
    max-width: 80vw;
}

/* The second overall wrapper that works with all the photo and description  */
.second_wrapper{
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    text-align: cen;
    justify-items: center;
    object-fit: contain;
    overflow: hidden;
    max-width: 80vw;
    max-height: 80vh;
    text-align: center;
}

.right_justifed{
    position: relative;
    justify-items: right;
    text-align: right;
    display: inline;
    float: right;
    font-size: calc(1em + .25vw);
}
.left_justifed{
    position: relative;
    justify-items: left;
    text-align: left;
    display: contents;
    float: left;
    font-size: calc(1em + .25vw);
}

.left_justifed_fixed{
    position: relative;
    justify-items: left;
    text-align: left;
    display: contents;
    float: left;
    font-size: calc(1em + .15vw);
}

.card {
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 2.5%;
    box-shadow: rgba(0, 0, 0, .1) 0 10px 10px;
    border: 1px solid #aaa;
}

/* Adds effects for the image */
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Adds effects for the picture box */
.picbox{
    width: 100%;
    height: 100%;
    flex-shrink: 5;
    object-fit: cover;
    overflow: hidden;
    border: 3px solid rgb(0, 0, 0);
    background-size: fill;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
}

/* Adds effect for the description box */
.description{
    margin-top: auto;
    margin-bottom: auto;
    position: flex;
    align-items: center;
    flex-shrink: 5;
    max-height: 50vh;
    justify-content: center;
    overflow: auto;
    font-family: Courier;
    text-align: center;
    text-justify: inter-word;
}

  


/* adjusts the size of the text based on page size */
p{font-size: calc(1em + .65vw);}

/*Moves the text under the image when reached to a certain size.*/
@media screen and (max-width: 650px){

    .second_wrapper{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        max-height: 100%;
    }

    .description{
        position: static;
        height: auto;
    }
}